.order-active {
    color: inherit;
    text-decoration: none; /* avoid link underline */
}

.order-inactive {
    color: grey;
    text-decoration: none; /* avoid link underline */
}

.errorlist {
    color:red;
}

footer {
    font-size: 80%;
}
footer a {
    text-decoration: none;
}
footer a:visited {
}

#beta-stamp {
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:0.5;
 z-index:99;
 color:red;
 font-family: monospace;
 font-size: 3rem;
 font-weight: bold;
 rotate: -30deg;
}

pre.file_contents_lineno a {
    text-decoration: none;
    color: inherit;
}
pre.file_contents_lineno a:hover {
    text-decoration: underline;
}

table.wr-artifacts tbody:before {
    content: '';
    margin-top: 1em;
    display: block;
}
