{% load artifacts %}
{% load debusine %}
{% for artifact in artifacts %}
    <tr>
        <td>
            <span class="bi bi-{{ artifact|artifact_icon_name }}"></span>
            {{ artifact|artifact_category_label|capfirst }}
        </td>
        <td>
            <a class="text-decoration-none"
               href="{% url "artifacts:detail" artifact_id=artifact.id %}">{{ artifact.get_label }}</a>
        </td>
        <td>
            <div class="btn-group btn-group-sm"
                 role="group"
                 aria-label="Artifact shortcuts">
                {% ui_shortcuts artifact as shortcuts %}
                {% for shortcut in shortcuts %}
                    {% widget shortcut %}
                {% endfor %}
            </div>
        </td>
    </tr>
{% endfor %}
