<div id="file-contents" class="card">
    <div class="card-header">{{ file_in_artifact.path }}</div>
    <div class="card-body text-white bg-dark">
        {% block file_contents %}{% endblock %}
    </div>
</div>
