{% extends "web/_file_base.html" %}
{% block file_contents %}
    Binary file {{ file_in_artifact.path }} cannot be displayed.
    you can <a href="{% url 'artifacts:detail-file-raw' artifact_id=file_in_artifact.artifact_id file_in_artifact_id=file_in_artifact.id path=file_in_artifact.path %}">view it raw</a>
    or <a href="{% url 'artifacts:download-path' artifact_id=file_in_artifact.artifact_id path=file_in_artifact.path %}">download</a> it instead.
{% endblock %}
