{% extends "web/_base.html" %}
{% block title %}{{ action }} a token{% endblock %}
{% block content %}
    <h1>{{ action }} token</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary btn-sm" type="submit" value="{{ action }}">
    </form>
{% endblock %}
